# Efficient SQL Library Management System

### Functions for Library Management System

1.BOOK ADD 
 2.BOOK ISSUE 
  3.BOOK SUBMIT 
   4.BOOKS DELETE 
    5.DISPLAY ALL BOOKS

#### for connection first import mysql.connector as my

In [26]:
import mysql.connector as my

#### Connect with mysql database

In [27]:
db = my.connect(host= "localhost",user="root",password = "Nb@123",auth_plugin = "mysql_native_password")
#check for connection
if db.is_connected():
    print("Successfully connected")
else:
    print("Not connected")

Successfully connected

#### Make cursor to execute SQL query

In [28]:
curr = db.cursor()

#### Create database name with Library_management

In [29]:
curr.execute("Create database Library_management")

#### Create three tables Books, Issue_books, Submit_books

In [34]:
curr.execute("use Library_management")
curr.execute("Create table Books(B_name varchar(50),Author varchar(20),B_code varchar(10),Quantity int)")

In [31]:
curr.execute("Create table Issue_books(Student_name varchar(20),Reg_no varchar(10),B_code varchar(10),Issue_date varchar(20))")

In [32]:
curr.execute("Create table Submit_books(Student_name varchar(20),Reg_no varchar(10),B_code varchar(10),Submit_date varchar(20))")

#### Create function for Library Management System

In [35]:
#here B means book
def B_add():
    book_name = input("Enter book name: ")
    Author = input("Enter book Author name")
    book_code = input("Enter book code: ")
    Quantity = int(input("Enter Quantity of books: "))
    info = (book_name,Author,book_code,Quantity)
    query = "insert into Books values(%s,%s,%s,%s)"
    curr = db.cursor()
    curr.execute(query,info)
    db.commit()
    print("Data successfully save into MySql")
    program()
    
def B_issue():
    Student_name = input("Enter Student name: ")
    Reg_no = input("Enter regno: ")
    book_code = input("Enter book code: ")
    issuedate = input("Enter issue date: ")
    info = (Student_name,Reg_no,book_code,issuedate)
    query = "insert into Issue_books values(%s,%s,%s,%s)"
    curr = db.cursor()
    curr.execute(query,info)
    db.commit()
    print("Book issued to: ",Student_name)
    book_save(book_code,-1)

def B_submit():
    Student_name = input("Enter Student name: ")
    Regno = input("Enter regno: ")
    book_code = input("Enter book code: ")
    submit_date = input("Enter submit date: ")
    query = "insert into submit_books values(%s,%s,%s,%s)"
    info = (Student_name,Regno,book_code,submit_date)
    curr = db.cursor()
    curr.execute(query,info)
    db.commit()
    print("Book Submitted from : ",Student_name)
    book_save(book_code,1)
    
def book_save(book_code,v):
    query = "select Quantity from Books where B_code=%s"
    info = (book_code,)
    curr = db.cursor()
    curr.execute(query,info)
    result = curr.fetchone()
    a = result[0]+v
    sql = "update Books set Quantity = %s where B_code=%s"
    info1 = (a,book_code)
    curr.execute(sql,info1)
    db.commit()
    program()

def book_delete():
    book_code = input("Enter book code: ")
    query = "delete from Books where B_code=%s"
    info = (book_code,)
    curr = db.cursor()
    curr.execute(query,info)
    db.commit()
    print("Book deleted successfully")
    program()

def book_display():
    query = "select * from books"
    curr = db.cursor()
    curr.execute(query)
    result = curr.fetchall()
    for i in result:
        print(i)
    program()
    
def program():
    print("""                       Library Management System 
        1.BOOK ADD 
        2.BOOK ISSUE 
        3.BOOK SUBMIT 
        4.BOOKS DELETE 
        5.DISPLAY ALL BOOKS
    """)
    option = int(input("Enter task no: "))
    if(option==1):
        B_add()
    elif(option==2):
        B_issue()
    elif(option==3):
        B_submit()
    elif(option==4):
        book_delete()
    elif(option==5):
        book_display()
    else:
        print("Given choice is not correct........")

def password():
    passw = input("Enter password: ")
    if passw=="Nb@123":
        program()
    else:
        print("Wrong Password:")
        password()
password()

Enter password: Nb@123
                       Library Management System
        1.BOOK ADD
        2.BOOK ISSUE
        3.BOOK SUBMIT
        4.BOOKS DELETE
        5.DISPLAY ALL BOOKS

Enter task no: 1
Enter book name: Deep Learning
Enter book Author nameYoshua Bengio
Enter book code: DL001
Enter Quantity of books: 10
Data successfully save into MySql
                       Library Management System
        1.BOOK ADD
        2.BOOK ISSUE
        3.BOOK SUBMIT
        4.BOOKS DELETE
        5.DISPLAY ALL BOOKS

Enter task no: 1
Enter book name:  MySQL
Enter book Author nameBenjamin Nevarez
Enter book code: SQL003
Enter Quantity of books: 15
Data successfully save into MySql
                       Library Management System
        1.BOOK ADD
        2.BOOK ISSUE
        3.BOOK SUBMIT
        4.BOOKS DELETE
        5.DISPLAY ALL BOOKS

Enter task no: 1
Enter book name: Data Structures
Enter book Author nameRonald L. Rivest
Enter book code: DS001
Enter Quantity of books: 20
Data successfully save into MySql
                       Library Management System
        1.BOOK ADD
        2.BOOK ISSUE
        3.BOOK SUBMIT
        4.BOOKS DELETE
        5.DISPLAY ALL BOOKS

Enter task no: 1
Enter book name: Machine Learning
Enter book Author nameVahid Mirjalili
Enter book code: ML006
Enter Quantity of books: 24
Data successfully save into MySql
                       Library Management System
        1.BOOK ADD
        2.BOOK ISSUE
        3.BOOK SUBMIT
        4.BOOKS DELETE
        5.DISPLAY ALL BOOKS

Enter task no: 1
Enter book name: Software Engineering
Enter book Author nameFred Brooks
Enter book code: SE004
Enter Quantity of books: 25
Data successfully save into MySql
                       Library Management System
        1.BOOK ADD
        2.BOOK ISSUE
        3.BOOK SUBMIT
        4.BOOKS DELETE
        5.DISPLAY ALL BOOKS

Enter task no: 6
Given choice is not correct........

#### To show all results from Books table

In [37]:
curr.execute("select * from Books")
for i in curr:
    print(i)

('Deep Learning', 'Yoshua Bengio', 'DL001', 10)
(' MySQL', 'Benjamin Nevarez', 'SQL003', 15)
('Data Structures', 'Ronald L. Rivest', 'DS001', 20)
('Machine Learning', 'Vahid Mirjalili', 'ML006', 24)
('Software Engineering', 'Fred Brooks', 'SE004', 25)

#### To issue a book to a student

In [39]:
program()

                       Library Management System
        1.BOOK ADD
        2.BOOK ISSUE
        3.BOOK SUBMIT
        4.BOOKS DELETE
        5.DISPLAY ALL BOOKS

Enter task no: 2
Enter Student name: Nisha
Enter regno: R100200
Enter book code: SE004
Enter issue date: 10/02/2023
Book issued to:  Nisha
                       Library Management System
        1.BOOK ADD
        2.BOOK ISSUE
        3.BOOK SUBMIT
        4.BOOKS DELETE
        5.DISPLAY ALL BOOKS

Enter task no: 2
Enter Student name: Unnati
Enter regno: R100201
Enter book code: DS001
Enter issue date: 10/02/2023
Book issued to:  Unnati
                       Library Management System
        1.BOOK ADD
        2.BOOK ISSUE
        3.BOOK SUBMIT
        4.BOOKS DELETE
        5.DISPLAY ALL BOOKS

Enter task no: 6
Given choice is not correct........

#### To show all results from Issue_books ,books, table

In [42]:
curr.execute("select * from books")
for i in curr:
    print(i)

('Deep Learning', 'Yoshua Bengio', 'DL001', 10)
(' MySQL', 'Benjamin Nevarez', 'SQL003', 15)
('Data Structures', 'Ronald L. Rivest', 'DS001', 19)
('Machine Learning', 'Vahid Mirjalili', 'ML006', 24)
('Software Engineering', 'Fred Brooks', 'SE004', 24)

In [40]:
curr.execute("select * from Issue_books")
for i in curr:
    print(i)

('Nisha', 'R100200', 'SE004', '10/02/2023')
('Unnati', 'R100201', 'DS001', '10/02/2023')

#### submit a book

In [46]:
program()

                       Library Management System
        1.BOOK ADD
        2.BOOK ISSUE
        3.BOOK SUBMIT
        4.BOOKS DELETE
        5.DISPLAY ALL BOOKS

Enter task no: 3
Enter Student name: Unnati
Enter regno: R100201
Enter book code: DS001
Enter submit date: 25/03/2023
Book Submitted from :  Unnati
                       Library Management System
        1.BOOK ADD
        2.BOOK ISSUE
        3.BOOK SUBMIT
        4.BOOKS DELETE
        5.DISPLAY ALL BOOKS

Enter task no: 6
Given choice is not correct........

#### After submit book to show all results from Submit_books, books table

In [49]:
curr.execute("select * from books")
for i in curr:
    print(i)

('Deep Learning', 'Yoshua Bengio', 'DL001', 10)
(' MySQL', 'Benjamin Nevarez', 'SQL003', 15)
('Data Structures', 'Ronald L. Rivest', 'DS001', 20)
('Machine Learning', 'Vahid Mirjalili', 'ML006', 24)
('Software Engineering', 'Fred Brooks', 'SE004', 24)

In [50]:
curr.execute("select * from Submit_books")
for i in curr:
    print(i)

('Unnati', 'R100201', 'DS001', '25/03/2023')

#### Delete a book from books table

In [51]:
program()

                       Library Management System
        1.BOOK ADD
        2.BOOK ISSUE
        3.BOOK SUBMIT
        4.BOOKS DELETE
        5.DISPLAY ALL BOOKS

Enter task no: 4
Enter book code: DS001
Book deleted successfully
                       Library Management System
        1.BOOK ADD
        2.BOOK ISSUE
        3.BOOK SUBMIT
        4.BOOKS DELETE
        5.DISPLAY ALL BOOKS

Enter task no: 6
Given choice is not correct........

#### After delete book to show all results from books table

In [53]:
curr.execute("select * from books")
for i in curr:
    print(i)

('Deep Learning', 'Yoshua Bengio', 'DL001', 10)
(' MySQL', 'Benjamin Nevarez', 'SQL003', 15)
('Machine Learning', 'Vahid Mirjalili', 'ML006', 24)
('Software Engineering', 'Fred Brooks', 'SE004', 24)

#### Display all result

In [54]:
program()

                       Library Management System
        1.BOOK ADD
        2.BOOK ISSUE
        3.BOOK SUBMIT
        4.BOOKS DELETE
        5.DISPLAY ALL BOOKS

Enter task no: 5
('Deep Learning', 'Yoshua Bengio', 'DL001', 10)
(' MySQL', 'Benjamin Nevarez', 'SQL003', 15)
('Machine Learning', 'Vahid Mirjalili', 'ML006', 24)
('Software Engineering', 'Fred Brooks', 'SE004', 24)
                       Library Management System
        1.BOOK ADD
        2.BOOK ISSUE
        3.BOOK SUBMIT
        4.BOOKS DELETE
        5.DISPLAY ALL BOOKS

Enter task no: 6
Given choice is not correct........

#### Show all tables

In [55]:
curr = db.cursor()
curr.execute("show tables")
for i in curr:
    print(i)

('books',)
('issue_books',)
('submit_books',)